<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>democritus</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">
</head>
<body>
    <section class="contact-clean">
        <form method="post">
            <h1 style="text-align: center;">Predict</h1>
            <h4 class="text-center" style="text-align: center;height: 99px;">Predict using previously trained event logs</h4>
            </div><strong>EVENT LOG</strong>
            <div class="form-group"><select class="form-control">
                    <optgroup label="This is a group">
                        <option value="12" selected>Helpdesk</option>
                        <option value="13">BPIC12</option>
                        <option value="14">BPIC12W</option>
                    </optgroup>
                </select>
            </div><strong>IMPLEMENTATION</strong>
            <div class="form-group"><select class="form-control">
                    <optgroup label="This is a group">
                        <option value="12" selected>Camargo</option>
                        <option value="13">Tax</option>
                        <option value="14">Lin</option>
                    </optgroup>
                </select>
            </div><strong>PREDICTION TYPE</strong>
            <div class="form-group"><select class="form-control">
                    <optgroup label="This is a group">
                        <option value="12" selected>Suffix</option>
                        <option value="13">Next Event</option>
                        <option value="14">Remaining Time</option>
                    </optgroup>RP SIM EVENT LOG
                </select></div><strong></strong>
            <div class="form-group"><button class="btn btn-primary" type="submit">RUN </button></div>
        </form>
    </section>
</body>
</html>