<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>democritus</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">
</head>
<body style="background: rgb(241,247,252);">
    <section class="contact-clean" style="background: rgb(241, 247, 252);">
    <form method="post">
        <h1 style="text-align: center;">Running</h1>

        <div class="loaderContainer">
            <div class="loader">
            </div>
        </div>

        <strong></strong>
        <div class="form-group"><small class="form-text text-danger"></small></div>
        <div class="form-group text-center">
            <div role="alert" class="alert alert-success"><span><strong>Alert</strong> Looking for trained model in cache..</span></div>
        </div>
    </form>
</section>
</body>
</html>
